---
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
import { ClientRouter } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;

const structuredData = {
  "@context": "https://schema.org",
  "@type": "Person",
  name: AUTHOR,
  url: Astro.site,
  description: SITE_DESCRIPTION,
  sameAs: [
    "https://www.linkedin.com/in/sara-antole/",
    "https://github.com/saraantole",
    "https://www.instagram.com/0xsaraa/",
  ],
};
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  <meta name="theme-color" content="#F8F8F8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title={SITE_TITLE}
    href={new URL("rss.xml", Astro.site)}
  />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image.src, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image.src, Astro.url)} />

  <!-- Structured Data (JSON-LD) -->
  <script
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
  />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G8QC30GZBQ"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-G8QC30GZBQ");
  </script>

  <ClientRouter />
</head>
